<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPy-1t_1PG59E26KcAKZNF6_TlFuIt9jw</string>
	<key>GCM_SENDER_ID</key>
	<string>300770706123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebookClone</string>
	<key>PROJECT_ID</key>
	<string>facebook-clone-73200</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-clone-73200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300770706123:ios:7729760f36c32f2e9a514e</string>
</dict>
</plist>